# Title/Task

---

### List of tasks

  1. [Preproccessing](#1.-Preprocessing)
    * Drop rows where None or Null exist
  2. [Step Two](#2.-Step-Two)
    * this
  99999. <-- numbering doesn't matter **(see raw)**
    * markdown automatically

*__imports__*

In [3]:
# imports ...
import numpy as np
import pandas as pd

import math
import requests
from skimage import io
from matplotlib import pyplot as plt
import matplotlib.image as mpimg

%matplotlib inline

__helper functions__

In [4]:
file_type = ".jpg"


# gets the image from a url
def get_image_from_url(img_url):
        request = requests.head(img_url)
        if request.status_code == 200:
            return io.imread(img_url)
        else:
            return [] # make sure to handle this case if you use this method


# reads a directory of images, flattens the features to a single row then returns as a dataframe
def extract_features(features):
    new_df = []
    for feature in features:
        request = requests.head(feature)
        if request.status_code == 200:
            img = io.imread(feature)
            image_flat = img.flatten()
            new_df.append(image_flat)
    return new_df

# # helper for displaying an image
# def print_img(img, color=True):
#     plt.figure(figsize=(10, 6) )
#     if (color):
#         #plt.imshow(cv2.cvtColor(img, cv2.COLOR_BGR2RGB) ) # need to change this colorspace to not use opencv - tbd
#     else:
#         plt.imshow(img, cmap="gray") # grayscale
#     plt.show()


# more coming

*__dataset directory paths__*

In [5]:

dataset_path = "../dataset/MovieGenre.csv"

posters_images_path = "../dataset/SampleMoviePosters/"

*__import datasets__*

In [28]:

dataset_orig_df = pd.read_csv(dataset_path)

dataset_orig_df[::3000]

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
3000,24852,http://www.imdb.com/title/tt24852,Babes in Toyland (1934),7.4,Comedy|Family|Fantasy,https://images-na.ssl-images-amazon.com/images...
6000,84302,http://www.imdb.com/title/tt84302,Maratonci trce pocasni krug (1982),9.0,Comedy|Drama,https://images-na.ssl-images-amazon.com/images...
9000,100280,http://www.imdb.com/title/tt100280,Nuns on the Run (1990),5.9,Comedy|Crime,https://images-na.ssl-images-amazon.com/images...
12000,42286,http://www.imdb.com/title/tt42286,Broken Arrow (1950),7.2,Drama|Romance|Western,https://images-na.ssl-images-amazon.com/images...
15000,1391579,http://www.imdb.com/title/tt1391579,The Dark Lurking (2009),3.4,Action|Horror|Sci-Fi,https://images-na.ssl-images-amazon.com/images...
18000,49800,http://www.imdb.com/title/tt49800,Storm Center (1956),7.1,Drama,https://images-na.ssl-images-amazon.com/images...
21000,2111478,http://www.imdb.com/title/tt2111478,Mea Maxima Culpa: Silence in the House of God ...,8.1,Documentary,https://images-na.ssl-images-amazon.com/images...
24000,477449,http://www.imdb.com/title/tt477449,MC5: Kick Out the Jams (1999),7.5,Documentary|Short|Music,https://images-na.ssl-images-amazon.com/images...
27000,57262,http://www.imdb.com/title/tt57262,Love Is a Ball (1963),6.0,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
30000,80439,http://www.imdb.com/title/tt80439,Il bisbetico domato (1980),7.7,Comedy,https://images-na.ssl-images-amazon.com/images...
33000,3257072,http://www.imdb.com/title/tt3257072,Mahi va gorbeh (2013),7.6,Drama|Mystery|Thriller,https://images-na.ssl-images-amazon.com/images...
36000,325725,http://www.imdb.com/title/tt325725,Legend of the Candy Cane (2001),6.2,Animation|Comedy|Drama,https://images-na.ssl-images-amazon.com/images...
39000,2473486,http://www.imdb.com/title/tt2473486,Oxyana (2013),7.2,Documentary|News,https://images-na.ssl-images-amazon.com/images...

In [29]:
dataset_orig_df.shape

(40108, 6)

## 1. Preprocessing

### A.  *__drop rows where None or Null exist__*

In [30]:

dataset_edit_df = dataset_orig_df.dropna()

dataset_edit_df.shape

(39246, 6)

In [31]:

orig_df_size = dataset_orig_df.shape[0] # orig
mod_df_size = dataset_edit_df.shape[0] # after dropping rows

print("Number of rows dropped (contains Null/None):", orig_df_size - mod_df_size)

Number of rows dropped (contains Null/None): 862

In [16]:

dataset_edit_df[::3000]

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
3028,120363,http://www.imdb.com/title/tt120363,Toy Story 2 (1999),7.9,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
6033,83107,http://www.imdb.com/title/tt83107,Some Kind of Hero (1982),5.6,Comedy|Crime|Drama,https://images-na.ssl-images-amazon.com/images...
9036,102982,http://www.imdb.com/title/tt102982,Stinsen brinner... filmen alltsí« (1991),6.8,Comedy|Musical,https://images-na.ssl-images-amazon.com/images...
12039,24353,http://www.imdb.com/title/tt24353,Morning Glory (1933),6.6,Drama|Romance,https://images-na.ssl-images-amazon.com/images...
15049,112491,http://www.imdb.com/title/tt112491,Between the Devil and the Deep Blue Sea (1995),7.2,Drama,https://images-na.ssl-images-amazon.com/images...
18103,446930,http://www.imdb.com/title/tt446930,Bekleme Odasi (2003),6.5,Drama,https://images-na.ssl-images-amazon.com/images...
21218,336693,http://www.imdb.com/title/tt336693,The House Is Black (1963),8.0,Documentary|Short,https://images-na.ssl-images-amazon.com/images...
24304,92609,http://www.imdb.com/title/tt92609,Backfire (1988),5.5,Drama|Mystery|Thriller,https://images-na.ssl-images-amazon.com/images...
27384,247394,http://www.imdb.com/title/tt247394,Gumnaam (1965),7.2,Drama|Mystery|Thriller,https://images-na.ssl-images-amazon.com/images...
30479,248428,http://www.imdb.com/title/tt248428,Shiva (1989),8.1,Action,https://images-na.ssl-images-amazon.com/images...
33550,107415,http://www.imdb.com/title/tt107415,Lifepod (1993),5.9,Mystery|Sci-Fi|Thriller,https://images-na.ssl-images-amazon.com/images...
36680,57894,http://www.imdb.com/title/tt57894,BlÌÁznova kronika (1964),7.2,Adventure|Comedy|Fantasy,https://images-na.ssl-images-amazon.com/images...
39856,1287875,http://www.imdb.com/title/tt1287875,Yeo-haeng-ja (2009),7.6,Drama,https://images-na.ssl-images-amazon.com/images...

### B. __*Label preprocessing (genre)*__

__*get label column*__

In [32]:

label = dataset_edit_df["Genre"]
label[::3000]

0        Animation|Adventure|Comedy
3028     Animation|Adventure|Comedy
6033             Comedy|Crime|Drama
9036                 Comedy|Musical
12039                 Drama|Romance
15049                         Drama
18103                         Drama
21218             Documentary|Short
24304        Drama|Mystery|Thriller
27384        Drama|Mystery|Thriller
30479                        Action
33550       Mystery|Sci-Fi|Thriller
36680      Adventure|Comedy|Fantasy
39856                         Drama
Name: Genre, dtype: object

In [33]:

label.shape

(39246,)

__*split the label to only show one genre*__

In [34]:

#returns the first/main genre string - don't care about sub-genres...
def get_one_genre(row):
    return row.split("|")[0] # yolo

label_edit = label.apply(get_one_genre)

In [35]:

label_edit[::3000]

0          Animation
3028       Animation
6033          Comedy
9036          Comedy
12039          Drama
15049          Drama
18103          Drama
21218    Documentary
24304          Drama
27384          Drama
30479         Action
33550        Mystery
36680      Adventure
39856          Drama
Name: Genre, dtype: object

__*one-hot-encode labels*__

In [36]:

#one hot encoding
label_ohe = pd.get_dummies(label_edit)

label_ohe.columns

Index(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')

In [38]:

label_ohe[::3000] # <---- this is out label for when we do training/testing

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Musical,Mystery,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3028,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6033,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9036,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12039,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15049,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18103,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21218,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24304,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27384,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30479,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33550,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
36680,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39856,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### C. __*Poster Preprocessing*__

*__ gather poster links __*

In [39]:

poster_links = dataset_edit_df['Poster']

poster_links.shape

(39246,)

In [41]:

sample_poster_url = poster_links[0]

print("Sample image url:\n", sample_poster_url)

Sample image url:
 https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_UX182_CR0,0,182,268_AL_.jpg